<div id="question_edit">
<%= simple_form_for @question, url;: {action: "update"}, html: {class: "edit_question_form"} do |f| %>
  <%= f.error_messages %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.button :submit %>
<% end %>

</div>


