<div class="container">
  <div class="q_and_answer">
    <div class="row">
      <div class="col-md-10">
      <h1><%=@question.title%></h1>
        <hr>
        <p class="question_content"><%=@question.content%></p>
        <br>
      </div>
    </div>
    <% @question.answers.each do |answer| %>
    <div class="list-group-item">
      <div class="row">
        <div class="answer_table col-md-10">
          <p><strong>Answer: </strong><%= answer.content %></p>
        </div>
        <div class="col-md-2">
          <span class="badge">
            <p><%= answer.votes.count %></p><p>votes</p>
          </span>
        </div>
      </div>
    </div>
    <% end %>

    <div class="answer_form">
      <div class="row">
        <div class="col-md-8">
          <%= render :partial => '/answers/answer_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

