<div class="container">
  <div class="question_show_stylz">
    <div class="row">
      <div class="col-md-10">
      <h1><%=@question.title%></h1>
        <hr width="121%">
        <p class="question_content"><%=@question.content%></p>
        <div class="col-md-2">
          <div class="votes">
            <% if current_user %>
            <%= link_to questions_upvote_path(@question), method: :put, :class => "fa fa-sort-asc fa-3x" do %>
              <% end %>
            <%= link_to questions_downvote_path(@question), method: :put, :class => "fa fa-sort-desc fa-3x" do %>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path, :class => "fa fa-sort-asc fa-3x" do %>
                <% end %>
              <%= link_to new_user_session_path, :class => "fa fa-sort-desc fa-3x" do %>
                <% end %>
            <% end %>
          </div>
          <span class="question_vote badge">
            <p><%= @question.votes.count %></p><p>votes</p>
          </span>
        </div>
        <hr width="121%">
        <p class="question_body_display"><%=@question.content%></p>
        <br>
      </div>
    </div>
    <% @question.answers.each do |answer| %>
    <div class="list-group-item">
      <div class="row">
        <div class="answer_table col-md-10">
          <p><strong>Answer: </strong><%= answer.content %></p>
        </div>
        <div class="col-md-2">
          <div class="votes">
            <% if current_user %>
            <%= link_to answers_upvote_path(answer), method: :put, :class => "fa fa-sort-asc fa-3x" do %>
              <% end %>
            <%= link_to answers_downvote_path(answer), method: :put, :class => "fa fa-sort-desc fa-3x" do %>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path, :class => "fa fa-sort-asc fa-3x" do %>
                <% end %>
              <%= link_to new_user_session_path, :class => "fa fa-sort-desc fa-3x" do %>
                <% end %>
            <% end %>
          </div>
          <span class="answer_vote badge">
            <p><%= answer.votes.count %></p><p>votes</p>
          </span>
        </div>
      </div>
    </div>
    <% end %>

    <div class="answer_form">
      <div class="row">
        <div class="col-md-8">
          <%= render :partial => '/answers/answer_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

