<%= simple_form_for [@question, @answer]  do |f| %>
  <% if @answer.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@answer.errors.count, "error") %> prohibited
      this answer from being posted:
    </h2>
    <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.input :content %>
  <%= f.button :submit %>
<% end %>

