<!DOCTYPE html>
<html>
<head>
  <title>Darkwing Overflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700">
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
    <div class="container-fluid">

      <div class="navbar-header brand">
        <%= link_to image_tag("dw.png", :class => 'darkwing_logo'), root_path %>
        <%= link_to "Darkwing Overflow", root_path %>
      </div>

      <div class="login_shit navbar-right navbar-text">
        <ul class="navbar-nav list-inline">
          <% if current_user %>
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Signup", new_user_registration_path %></li>
            <li><%= link_to "Log In", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

<%= yield %>

  <footer class="footer">
    <nav class="navbar navbar-inverse navbar-custom">
      <p class="text-muted text-center">Made with ☭ by Darkwing Duck</p>
    </div>
  </footer>

</body>
</html>
