<!DOCTYPE html>
<html>
<head>
  <title>Darkwing Overflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700">
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
    <div class="container-fluid">

      <div class="navbar-header brand">
        <%= link_to "Darkwing Overflow", questions_path %>
      </div>

      <div class="login_shit navbar-right navbar-text">
        <ul class="navbar-nav list-inline">
          <% if current_user %>
            <li><%= link_to "Profile", "#" %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Signup", new_user_registration_path %></li>
            <li><%= link_to "Log In", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

<%= yield %>

</body>
</html>
