<!DOCTYPE html>
<html>
<head>
  <title>DbcOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>

<header>
</header>

  <nav class="navbar navbar-default">

      <div class="brand">
        <li><%= link_to "Darkwing Overflow", questions_path %></li>
      </div>
      <ul>
      <% if current_user %>
        <li><%= link_to "Log Out", destroy_user_session_path %></li>
        <br>


      <% else %>
        <li><%= link_to "Signup", new_user_registration_path %></li>
        <br>
        <li><%= link_to "Log In", new_user_session_path %></li>
      <% end %>
      </ul>

    </nav>

<%= yield %>
<div row>
<div class="col-md-3">
<h2> Here's some bullshit</h2>
</div>
</div

</body>
</html>
